{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Dummy Module - Hello World' %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ widget_title }}</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-success">
                        <h4><i class="icon fa fa-check"></i> Success!</h4>
                        {{ message }}
                    </div>

                    <p><strong>Current Time:</strong> {{ timestamp }}</p>
                    <p><strong>Module:</strong> SprykerCommunity Product Subscription</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
